.alert-message {
    position: fixed;
    top: 81px;
    right: -500px;
    padding: 10px;
    background-color: #00B2FF;
    color: #E7F7FF;
    border-left: 5px solid green;
    border-radius: 4px;
    font-size: 16px;
    z-index: 9999;
    padding: 10px 10px;
    transition: right .5s ease-out;
}

.alert-message.slide {
    right: 2px;
}

.alert-message-error {
    position: fixed;
    top: 81px;
    right: -500px;
    background-color: #00B2FF;
    color: #E7F7FF;
    border-left: 5px solid #d31515;
    border-radius: 4px;
    font-size: 16px;
    z-index: 9999;
    padding: 10px 10px;
    transition: right .5s ease-out;
}

.alert-message-error.slide {
    right: 2px;
}